/* ----------------- */
/* Protect The NSA */
/* ----------------- */

body,
h1,h2,h3,h4,h5,h6 {
  font-family: "proxima-nova-condensed", sans-serif;
  color: #3f3f3f;
}

body {
  border-top: 8px solid #1594bf;
}

.container {max-width: 950px;margin-bottom: 20px;}

/* semibold */
strong {
  font-weight: 600;
}

/* Global Styles */
.tac {
  text-align: center;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.section-title {
  color: #9f9d9d;
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 46px;
}


/* Intro Title */

.intro-title h1 {
  font-size: 38px;
  margin-top: 35px;
}

.intro-title h2 {
  font-size: 55px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom:30px;
}




/* Summary of the Bills */

.bills-summary .panel {
  -webkit-border-radius: 10px;
          border-radius: 10px;
}



/* The USA Freedom Act */
/* parent div: .bills-summary */
/* div: .usa-freedom-act */
/* border color: #1fda26 */
/* gradient-end: #e5fbe6 */

.bills-summary .panel {
  margin-bottom: 6px;
}

.usa-freedom-act .panel {
  border: 1px solid #1fda26;
  background-color: #F07575;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e5fbe6)); 
  background-image: -webkit-linear-gradient(top, #fff, #e5fbe6); 
  background-image: -moz-linear-gradient(top, #fff, #e5fbe6); 
  background-image: -ms-linear-gradient(top, #fff, #e5fbe6); 
  background-image: -o-linear-gradient(top, #fff, #e5fbe6); 
  background-image: linear-gradient(to bottom, #fff, #e5fbe6);
}

.bills-summary .usa-freedom-act h3 {
  color: #1fda26;
  padding-top: 13px;
  /* margin-bottom: 37px; */
}



/* The Intelligence Communication Bill */
/* parent div: .bills-summary */
/* div: .intelligence-comm-bill */
/* border color: #ff5e3a */
/* gradient-end: #ffeae5 */

.intelligence-comm-bill .panel {
  border: 1px solid #ff5e3a;
  
  background-color: #ffeae5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ffeae5)); 
  background-image: -webkit-linear-gradient(top, #fff, #ffeae5); 
  background-image: -moz-linear-gradient(top, #fff, #ffeae5); 
  background-image: -ms-linear-gradient(top, #fff, #ffeae5); 
  background-image: -o-linear-gradient(top, #fff, #ffeae5); 
  background-image: linear-gradient(to bottom, #fff, #ffeae5);
}

.bills-summary .intelligence-comm-bill h3 {
  color: #ff5e3a;
}

.bills-medium-summary p {
  font-size: 18px;
}

.bills-medium-summary h3 {
  font-size:30px;
  margin-bottom: 14px;
}

.bills-summary .intelligence-comm-bill h3 small {
  color: #3f3f3f;
  font-weight: bold;
}

label {font-size: 17px;line-height: 16px;}

label span {font-size: 14px;font-weight: normal;/* line-height: 13px; *//* height: 20px; */}

/* The Headings inside the Bills Summary on Top */

.bills-summary h3 {
  font-size: 37px;
  font-weight: 300;
  margin-top: 9px;
  line-height: 0.7em;
  font-weight: bold;
  height: 53px;
}

.bills-summary h3 small {
  font-size: 20px;
}

.bills-summary h4 {
  font-size: 33px;
  margin-top: 20px;
  line-height: 1.2;
  margin-bottom: 0;
}

.bills-summary h5 {
  font-size: 18px;
  margin-bottom: 0;
}

.bills-summary h6 {
  font-size: 15px;
  font-weight: 600;
}

.bills-summary .media-body span {
  font-style: italic;
}


/* Call Legislators Area */
/* Full width container with blue gradient background */

.call-legislators {
  background-color: #193d97;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1087b4), to(#193d97)); 
  background-image: -webkit-linear-gradient(top, #1087b4, #193d97); 
  background-image: -moz-linear-gradient(top, #1087b4, #193d97); 
  background-image: -ms-linear-gradient(top, #1087b4, #193d97); 
  background-image: -o-linear-gradient(top, #1087b4, #193d97); 
  background-image: linear-gradient(to bottom, #1087b4, #193d97);
  
  color: #fff;
}

.call-legislators h2 {
  text-align: center;
  color: #fff;
  font-size: 40px;
  margin-bottom: 20px;
}

.call-legislators h2 span {
  text-decoration: underline;
  }

.call-legislators form label {
  font-weight:normal;
  font-size: 18px;
  padding-bottom: 3px;
}

#inputSignup {
  display:inline-block;
  margin-bottom: 10px;
  padding-right:10px;
}



.btn-call {
  background-color: #10d51b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#84fb6e), to(#10d51b)); 
  background-image: -webkit-linear-gradient(top, #84fb6e, #10d51b); 
  background-image: -moz-linear-gradient(top, #84fb6e, #10d51b); 
  background-image: -ms-linear-gradient(top, #84fb6e, #10d51b); 
  background-image: -o-linear-gradient(top, #84fb6e, #10d51b); 
  background-image: linear-gradient(to bottom, #84fb6e, #10d51b);
  
  color: #fff;
  font-size: 27px;
  font-weight: 400;
}

.btn-call:hover {10d51b
  background-color: #84fb6e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#10d51b), to(#84fb6e)); 
  background-image: -webkit-linear-gradient(top, #10d51b, #84fb6e); 
  background-image: -moz-linear-gradient(top, #10d51b, #84fb6e); 
  background-image: -ms-linear-gradient(top, #10d51b, #84fb6e); 
  background-image: -o-linear-gradient(top, #10d51b, #84fb6e); 
  background-image: linear-gradient(to top, #0BB215, #62D84D);
  
  color: #fff;
}


/* ============================ */
/* Custom checkbox CSS */
/* ============================ */


input[type=checkbox].css-checkbox {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}

.klaus{background-image:url(/img/checkbox.png);}


.btn-area {
  width: 360px;
  margin: 16px auto 22px;
}

input[type=checkbox].css-checkbox.lrg + label.css-label.lrg {
  padding-left: 26px;
  height:20px; 
  display:inline-block;
  line-height:20px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size: 13px;
  vertical-align:middle;
    cursor:pointer;
  line-height: 1.3;
  margin-top: 3px;
}

label.css-label.klaus {font-weight: 100; }

input[type=checkbox].css-checkbox.lrg:checked + label.css-label.lrg{

    background-position: 0 -20px;
}



/* The Medium Length Bills Summary at the end */
/* .bills-medium-summary */

.bills-medium-summary .usa-freedom-act h3 {
  color: #1fda26;
  border-bottom: 1px solid #1fda26;
}

.bills-medium-summary .intelligence-comm-bill h3 {
  color: #ff5e3a;
  border-bottom: 1px solid #ff5e3a;
}



/* Logos */
.logos {
  margin-top: 16px;
}


/* Footer */
.footer {
  text-align: right;
  font-size: 14px;
  color: #323232;
  padding-top: 70px;
}

.footer .built-by {
  font-size: 18px;
  line-height: 2em;
}

.footer a.join-us {
  font-weight: 600;
}